<div id="content">
    <button id="scrape-button">Check for new stories!</button>

    {{#each articleArray}}
    <div class="article-box">
        <h2 class="article-title">{{title}}</h2>
        <img class="article-image" src="{{imageLink}}" alt="The picture did not show">
        <p class="article-summary">{{summary}}</p>
        <button class="article-link-button article-button" onclick="location.href='{{link}}'">Go to Article on npr.org</button>
        <button class="article-notes-button article-button" data-id="{{_id}}" data-title="{{title}}">Create and Review Notes</button>

    </div>
    {{/each}}

</div>

<div id="note-background" class="note-toggle">
</div>
<div id="note-block" class="note-toggle">
    <div id="note-content">
        <h2 id="note-article-title">Test Article Title</h2>
        <form>
            <label>Note Title</label><br>
            <input id="note-title" type="text"><br>
            <label>Note Text</label><br>
            <textarea id="note-text" type="text"></textarea><br>
        </form>
        <button id="close-button" class="comment-button">Close Notes</button>
        <button data-id="" id="note-save-button" class="comment-button">Save Note</button>
        
        
        <div id="comment-box">
            
        </div>


    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="/js/index.js"></script>